*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

.background-image{

    background-image: url("BackgroundResolved.JPEG");
    background-size: cover;

    
}